button.btn-addtocart {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: none;
    padding: 14px 15px;
    line-height: 22px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #000000;
    background-color: orange;
  }
button.btn-addtocart:hover{
      background-color: brown;
      color: white;
   
}
  
.action{
      margin-top: 8px;
}
.ctthongso
{
    margin-top: 5px;
    padding: 5px 120px;
    border: 1.5px solid #2f80ed;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 10%;
    text-decoration: none;
}
  