img{
    width: 100%;
    height: 60%;
}

#con{
    text-align: center;
    background: #456BD9;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    border-radius: 2px;   
}

#con1{
    font-size: 50px;
    color: red;
}

#con2{
    font-size: 30px;
    color: aquamarine;
    font-family: 'Anton', sans-serif;
}
