
* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
 
  position: relative;

}
.nav {
  min-height: 42px;
  background-color: #D70018;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 12px 0;
}
.nav-list {
  padding-left: 0;
  margin: auto 18px;
  
 
}

.nav-item {
  color: #fff;
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  padding-right: 5px;
  
}

input{
  border: 3px solid white;
  border-radius: 5px;
  padding-right: 300px;
  outline: none;
}
.row {
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
  position: relative;
  left: 11px;
}
.title {
	flex: 0 0 100%;
  max-width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;

}
.title h3 {

	font-size: 32px;
	color: red;
  margin-left: 5px;
  
}
.col-2th {
	flex: 0 0 20%;
  max-width: 20%;
}
.image img {
	width: 100%;
}
.card {
	margin-bottom: 20px;
  position: relative;
}
img {
  vertical-align: middle;
}
ul li{
  list-style: none;
  
  
}
ul li a{
  color: black;
  text-decoration: none;
}
.main-footer{

  position: relative;
  left: 40px;
 
}

.nav li:hover
{
  color: black
}
ul .item_child {
	position: absolute;
	width: 150px;
	background-color: white;
	z-index: 9999;
  display: none;
  border: 1px solid white;
  border-radius: 2px;

}
.nav li:hover .item_child
{
  display: block;
}
.nav .item_child a:hover
{
  color: black;
  font-weight: 600;
}
.price{
  color: red;
  font-weight: 600;
  padding-left: 5px;
}
.discount_price{
  text-decoration: line-through;
  color: gray;
  padding-right: 5px;
}
.name{
  padding-left: 5px;
  margin-top: 5px;
}















